:root{
    --colorC:#99ff90;
    --colorE:#ff8282d8;
    --gray:#383838;
}

body{
    margin: 0;
    background-color: var(--gray);

}

#navbar{
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 90px;

    background-color: black;
}

#startsG{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: absolute;

    transition: 5s;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1490806843957-31f4c9a91c65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    
    width: 95%;
    height: 95%;

    border: 2px solid var(--colorE);
    border-radius: 10px;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 1rem;

    background-color: transparent;
    fill-opacity: 20%;

    border-radius: 10px;
    width: 15%;
    height: 10%;

    font-family: 'Ysabeau', sans-serif;
    font-size: 200%;
    color: crimson;

    transition: 8s;

}
#button:hover{
    animation-name:animationteste;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#image{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNjkuNjQsMTM0LjMzbDQ0Ljc3LTE5LjQ2QTE2LDE2LDAsMCwwLDIxMyw4NS4wN0w1Mi45MiwzMi44QTE2LDE2LDAsMCwwLDMyLjgsNTIuOTJMODUuMDcsMjEzYTE1LjgzLDE1LjgzLDAsMCwwLDE0LjQxLDExbC43OSwwYTE1LjgzLDE1LjgzLDAsMCwwLDE0LjYtOS41OWgwbDE5LjQ2LTQ0Ljc3TDE4NCwyMTkuMzFhMTYsMTYsMCwwLDAsMjIuNjMsMGwxMi42OC0xMi42OGExNiwxNiwwLDAsMCwwLTIyLjYzWm0tNjkuNDgsNzMuNzYuMDYtLjA1Wm05NS4xNS0uMDktNDkuNjYtNDkuNjdhMTYsMTYsMCwwLDAtMjYsNC45NGwtMTkuNDIsNDQuNjVMNDgsNDhsMTU5Ljg3LDUyLjIxLTQ0LjY0LDE5LjQxYTE2LDE2LDAsMCwwLTQuOTQsMjZMMjA4LDE5NS4zMVpNODgsMjRWMTZhOCw4LDAsMCwxLDE2LDB2OGE4LDgsMCwwLDEtMTYsMFpNOCw5NmE4LDgsMCwwLDEsOC04aDhhOCw4LDAsMCwxLDAsMTZIMTZBOCw4LDAsMCwxLDgsOTZaTTEyMC44NSwyOC40Mmw4LTE2YTgsOCwwLDAsMSwxNC4zMSw3LjE2bC04LDE2YTgsOCwwLDEsMS0xNC4zMS03LjE2Wm0tODEuNjksOTZhOCw4LDAsMCwxLTMuNTgsMTAuNzRsLTE2LDhhOCw4LDAsMCwxLTcuMTYtMTQuMzFsMTYtOEE4LDgsMCwwLDEsMzkuMTYsMTI0LjQyWiI+PC9wYXRoPjwvc3ZnPg==');
    background-size: contain;
    background-repeat: no-repeat;

    width: 20%;
    height: 60%;
}

#ajuste{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 1rem;

    width: 80%;
    height: 900px;

    opacity: 0;
    transition: 8s;
    pointer-events: none;
}

#opt1, #opt2, #opt3, #opt4, #opt5, #opt6, #opt7, #opt8, #opt9{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;

    font-family: 'Ysabeau', sans-serif;
    font-size: 30px;

    color: #a1fffa;

    width: 80%;
    height: 80%;

    border: 4px solid var(--colorE);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    background-repeat: no-repeat;
    background-size: cover;

    background-position-x: center;
    
    margin-top: 5%;
    transition: 1s;
}

/* backgrounds */
#opt1{
    background-image: url(/codes/pics/miata.jpeg);
    background-image: url(https://cdn.glitch.global/4cc125e4-5188-4673-8e54-dac283e6c6a2/miata.jpeg?v=1684640190290);
    background-position: center;
} /* regra dos terços*/
#opt2{
    background-image: url(/codes/pics/kurama.jpeg);
    background-image: url(https://cdn.glitch.global/4cc125e4-5188-4673-8e54-dac283e6c6a2/miata.jpeg?v=1684640190290);
    background-position: top;
} /* preencha o espaço*/
#opt3{
    background-image: url('');
    background-position: center;
}
#opt4{
    background-image: url('');
    background-position: center;
}
#opt5{
    background-image: url('');
    background-position: center;
}
#opt6{
    background-image: url('');
    background-position: center;
}
#opt7{
    background-image: url('');
    background-position: center;
}
#opt8{
    background-image: url('');
    background-position: center;
}
#opt9{
    background-image: url('');
    background-position: center;
}


#opt1:hover, #opt2:hover, #opt3:hover, #opt4:hover, #opt5:hover, #opt6:hover, #opt7:hover, #opt8:hover, #opt9:hover{
    font-size: 0;
}

#pics{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 5%;
}

#sawc{
    border-radius: 10px;
    border: 2px solid var(--colorE);
    background: transparent;
}

#hikari{
    display: inline-block;

    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-image: linear-gradient(to right, #a3308a, blue);
    animation: textclip 5s linear infinite;
}


@keyframes animationteste {
    0%{transform: scale(100%)}
    25%{transform: scale(98%)}
    50%{transform: scale(108%)}
    75%{transform: scale(105%)}
    100%{transform: scale(100%)}
}

@keyframes textclip {
    to {
      background-position: 200% ;
    }
  }
